*{
    margin: 0;
    padding:0;
    text-align: center;
}
body{
    background-color: #2B3A55;
}
.container{
    font-family:'Roboto', sans-serif;
    color:whitesmoke;
    position:absolute;
    top:50%;
    left: 50%;
    font-size: large;
}
h2{
    font-family: 'Anton', sans-serif;
}